* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5) ;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
}

.logo img {
    display: block;
    margin-right: 230px;
}

.login {
    padding: 10px 15px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #46A358;
    border-radius: 6px;
    font-weight: 500;
}
.login>p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}


.navigation-bar {
    display: inline-block;
    vertical-align: top;
}

.link-header {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 50px;
    line-height: 20px;
    display: inline-block;
}


.active {
    padding-bottom: 25px;
    border-bottom: 3px solid #46A358;
    font-weight: 700;
}

/* finished header */

.content-block {
    background-color: rgba(245, 245, 245, 0.5);
}


.text-container {
    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 85px;
    display: inline-block;
    vertical-align: top;
}


.subtitle {
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: rgba(61, 61, 61, 1);
    ;
}

.title {
    width: 530px;
    font-size: 67px;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0;
    font-weight: 900;
    color: rgba(61, 61, 61, 1);
}

.title>span {
    background: none;
    color: #46A358;
}

.desc {
    color: rgba(114, 114, 114, 1);
    font-size: 14px;
    margin: 5px 0 40px;
    line-height: 24px;
    width: 555px;
    font-weight: 400;
}

.button-shop-now {
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #46A358;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
}

.img-big-plant {
    margin-left: 90px;
    margin-top: 12px;
}