* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 30px;
    margin-bottom: 12px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5) ;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    display: block;
    margin-right: 230px;
}

.login {
    vertical-align: top;
    
}

.navigation-bar {
    display: inline-block;
    vertical-align: top;
}

.link-header {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 50px;
    line-height: 20px;
    display: inline-block;
}

.last-child {
    margin-right: 340px;
}

.active {
    padding-bottom: 25px;
    border-bottom: 3px solid #46A358;
    font-weight: 700;
}

/* finished header */

.content-block {
    background-color: rgba(245, 245, 245, 0.5);
}


.text-container {
    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 85px;
    display: inline-block;
    vertical-align: top;
}


.h2 {
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: rgba(61, 61, 61, 1);
    ;
}

.h1 {
    width: 530px;
    font-size: 67px;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0;
    font-weight: 900;
    color: rgba(61, 61, 61, 1);
}

.h1>span {
    background: none;
    color: #46A358;
}

.p {
    color: rgba(114, 114, 114, 1);
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    line-height: 24px;
    width: 555px;
    font-weight: 400;
}

.button-shop-now-image>img {
    margin: 0;
    margin-top: 45px;

}

.img-big-plant {
    margin-left: 90px;
    margin-top: 12px;
}